@{
    ViewBag.Title = "Reset password confirmation";
    ViewBag.Title = "بازیابی پسورد";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="widget-body">

    <div>
        @*<p>
                Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>*@
        <p>
            رمز عبور شما با موفقیت تغییر یافت. لطفا @Html.ActionLink("برای ورود کلیک نمایید.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>

@section Scripts {

    <script>
        //برای مدیر
        //$("#sidebar").html("");
        //$("#sidebar-collapse").html("");
        //$(".navbar-account").html("");
        //$("#sidebar").remove();
        //$(".page-content").css("width", "70%");
    </script>
}




