
@{
    ViewBag.Title = "صفحه موردنظر پیدا نشد.";
    Layout = "~/views/shared/_Newlayout.cshtml";
}

<h2 style="text-align:center;padding-top:40px;padding-bottom:40px;">

    متاسفانه صفحه موردنظر پیدا نشد.

</h2>

