


<div class="modal" id="AddEditModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">ثبت واحد کار</h4>
            </div>
            <div class="modal-body">
                <form name="AddWorkUnitForm" novalidate>
                    <input type="hidden" ng-model="WorkUnit.Id" />
                    <div class="form-group">
                        <label>نام واحد کار</label>
                        <input type="text" class="form-control" placeholder="نام واحد کار" ng-model="WorkUnit.Title" name="TitleWorkUnit" required>
                        <span style="color:red" ng-show="AddWorkUnitForm.TitleWorkUnit.$dirty && AddWorkUnitForm.TitleWorkUnit.$invalid ">
                            <span ng-show="AddWorkUnitForm.TitleWorkUnit.$error.required ">لطفا نام واحد کار را وارد نمایید</span>
                        </span>
                    </div>
                    @*<div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="WorkUnit.IsEnable" ng-checked="true"><span class="text">فعال</span>
                        </label>
                    </div>*@
                </form>
            </div>
            <div class="modal-footer">
                <button data-bb-handler="confirm" type="button" class="btn btn-primary" ng-click="AddEditSite()">ذخیره</button>
                <button data-bb-handler="cancel" type="button" class="btn btn-default" data-dismiss="modal">انصراف</button>
            </div>
        </div>
    </div>
</div>
