
<div class="modal" id="DivDescription">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header  " style="border-bottom: 4px solid #7ec55a">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" ng-click="CancelDivDescription()">×</button>
                <h4 class="modal-title">نمایش توضیحات روال کار</h4>
            </div>
            <div class="modal-body">
                <br />


            </div>
            <div class="modal-footer">
                <button data-bb-handler="cancel" type="button" class="btn btn-default" data-dismiss="modal" ng-click="CancelDivDescription()">انصراف</button>
            </div>
        </div>
    </div>
</div>

