
<div class="modal" id="UserServiceLocations">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="True">x</button>
                <h4 class="modal-title">نمایش لیست خدمت محل های کاربر  </h4>
            </div>
            <div class="modal-body">
                <table class="table-responsive table">
                    <thead>
                        <tr>
                            <th>محدوده</th>
                            <th>خدمت</th>
                            <th>وضعیت</th>
                            <th>تغییر وضعیت</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="X in ListUserServiceLocations">
                            <td>
                                <span>{{X.LocationName}}</span>
                            </td>
                            <td>
                                @*<span >{{X.TitleService}}</span>*@
                                <span ng-bind-html="X.TitleService" data-html="true"></span>
                            </td>
                            <td ng-switch="X.StatusServiceLocationUser">
                                <span ng-switch-when="0">در انتظار تایید</span>
                                <span ng-switch-when="1">فعال</span>
                                <span ng-switch-when="2">غیرفعال</span>
                                <span ng-switch-when="3">رزرو</span>
                                <span ng-switch-when="4">ثبت اطلاعات شدگان</span>
                            </td>
                            <td>
                                <div class="control-group" ng-init="IsActive=1">
                                    <div class="radio">
                                        <label>
                                            <input name="ActiveRadio-{{X.Id}}" type="radio" ng-value="1" ng-model="IsActive" class="colored-success">
                                            <span class="text"> فعال</span>
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input name="ActiveRadio-{{X.Id}}" type="radio" ng-value="2" ng-model="IsActive" class="colored-success">
                                            <span class="text"> غیر فعال </span>
                                        </label>
                                    </div>
                                </div>
                            </td>

                            <td>
                                <button data-bb-handler="cancel" type="button" class="btn btn-success" ng-click="IsActiveServiceLocationUsers(X.Id,IsActive)">ثبت</button>
                            </td>
                        </tr>
                    </tbody>
                </table>



            </div>
            <div class="modal-footer">
                <button data-bb-handler="cancel" type="button" class="btn btn-danger" ng-click="Cancel()">بستن</button>
            </div>
        </div>
    </div>
</div>

