@{
    ViewBag.Title = "درباره ما";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
@*<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>Use this area to provide additional information.</p>
    </div>
</div>*@

@*<div id="fh5co-practice" class="fh5co-bg-section">
    <div class="container">
        <div class="row animate-box">
            <hr />
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>درباره ما</h2>
                <hr />
                <p>
                    سامانه هوشمند سی پارس با هدف تسهیل در ارائه خدمات گوناگون، با به کارگیری ارائه دهندگان متخصص و مجرب و شرکت ها و مراکز صاحب صلاحیت طراحی شده است. شرکت تعاونی خدمات زرین سانا پارسینا پشتیبان حقوقی این سامانه است.
                </p>
                <hr />
            </div>
        </div>

    </div>
</div>*@


<div id="ListServices" >
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2 class="NewClassHeading" style="color:#b5b1b1 !important;text-shadow:#fff .5px .5px .5px;">درباره ما</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row animate-box text-center">
                    <p>
                        سامانه هوشمند سی پارس با هدف تسهیل در ارائه خدمات گوناگون، با به کارگیری ارائه دهندگان متخصص و مجرب و شرکت ها و مراکز صاحب صلاحیت طراحی شده است. شرکت تعاونی خدمات زرین سانا پارسینا پشتیبان حقوقی این سامانه است.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>