@{
    ViewBag.Title = "تعهد نامه";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<div  style="padding:20px 0px">
    <div class="container">
        <div class="row">
            <h4 class="col-lg-12">تعهد نامه خدمتیار در قبال موسسه  </h4>

            @*<ul style="list-style-type:decimal">
                اینجانب ....... فرزند ..... به شماره ملی .... در همکاری با شرکت تعاونی خدمات ؟؟؟؟؟؟ ضمن به کارگیری حداکثر توان و تخصص خود سعی و تلاش مینمایم تا خدمات واگذار شده به اینجانب را متعهدانه انجام دهم و رضایت خدمت گیرندگان ( مشتریان شرکت ) را جلب نمایم ، لذا به موارد زیر توجه و خود را به آن متعهد می دانم.
                <li>متعهد می شوم در نهایت ادب و احترام به خدمت گیرندگان رعایت شئونات انسانی و اسلامی را بنمایم و هر قصوریا تقصیری متوجه اینجانب باشد پاسخگو باشم.</li>
                <li>متهعد میشوم تمام توان و تخصص خود را در انجام صحیح خدمت به کار گیرم و امور واگذار شده را بدون نقص و عیب به انجام رسانم و در صورت قصور یا تقصیر ، نقایص و ضرر وارده را جبران نمایم و نظر کارشناسی شرکت را در این خصوص بپذیرم و برای جبران ، اقداماتی را که شرکت مشخص می نماید اجرا نمایم.</li>
                <li>متعهد می شوم رفتار و گفتاری صادقانه در قبال شرکت داشته باشم و آنچه را که انجام می دهم یا مبالغی را که دریافت می کنم صحیح و درست مطابق روش هایی که شرکت اعلام می کند ثبت و یا گزارش نمایم و در صورت تخلف ، عواقب آن را مطابق مقررات شرکت بپذیرم.</li>
                <li>متعهد می شوم در محل کار موارد ایمنی را رعایت و در صورت نیاز تمهیدات و لوازم ایمنی را از مشتری درخواست نمایم و در صورت عدم مهیا بودن ایمنی از انجام کار خودداری نمایم . لذا در این خصوص هیچ مسئولیتی را متوجه شرکت نمی دانم.</li>
                <li>متعهد می شوم در صورتی که خدمت ، نیاز به لوازم یا قطعاتی داشته باشد آن را از نوع و قیمت مناسب و منطقی تهیه نمایم و در صورت نیاز گزینه های لازم را برای مشتری صادقانه تشریح نمایم و چیزی را انتخاب می نماید استفاده نمایم و چنانچه کیفیت لوازم انتخابی توسط مشتری مورد تایید اینجانب نباشد دست خطی را از مشتری دریافت نمایم که اقرار کند علیرغم تذکرات خدمتیار آقای ...... و آگاهی از بی کیفیت بودن لوازم اینجانب ............ آن ها را با مشخصات زیر انتخاب می نمایم. در این موارد مشورت با کارشناسان شرکت و استفاده از فرم های تهیه شده ضروری است.در صورت عدم رعایت موضوعات ، مسائل پیش آمده را عهده دار می شوم.</li>
                <li>متعهد می شوم کلیه دستورالعمل های شرکت را به درستی و دقت انجام دهم.</li>
                <li>متعهد می شوم ابزار کار سالم ، صحیح  و ایمن داشته و بهره وری مناسب از آن داشته باشم.</li>
                <li>در صورتی که در مرحله مصاحبه پذیرفته نشوید الباقی مبلغ به حساب شما واریز می گردد و در صورت پذیرش مراحل بعدی کار اعلام خواهد شد.</li>
                <li>با توجه به اینکه کلیه پیام های رد و بدل شده توسط سامانه اس ام اس خواهد بود لذا در اختیارداشتن تلفن همراه که همیشه در اختیار شما باشد الزامی است و شخص خدمتیار باید توانایی ثبت کدهای اعلام شده را داشته باشد و توان خواندن صحیح کدها و پیام ها را داشته باشد.</li>
                <li>با توجه به اینکه کلیه مبادلات پولی ، به صورت الکترونیکی خواهد بود لذا مشتری لازم است کارت بانکی معتبر و فعال در اختیار داشته باشد و آشنایی با نحوه انتقال پول و نیز موارد ایمنی آن داشته  باشد.</li>
            </ul>*@
                <ul style="list-style-type:decimal; text-align:justify; width:97%;">
                    اینجانب به عنوان شخص حقیقی و یا نمایندگی مجموعه حقوقی، با مشخصات ثبت شده در سامانه شرکت سی پارس  متعهد می شوم، ضمن به کارگیری حداکثر توان و تخصص خود، سعی و تلاش نمایم تا خدمات واگذار شده به خود را به نحو احسن انجام دهم و رضایت مشتریان شرکت را جلب نمایم ، لذا به موارد زیر توجه و خود را به آن متعهد می دانم. آگاهی دارم که در این تعهد نامه منظور از شرکت، شرکت تعاونی خدمات زرین سانا پارسینا (سی پارس) و منظور از مشتریان، متقاضیان خدمات که ازطرف شرکت به اینجانب معرفی می شود می باشد.
                    <br />
                    متعهد می شوم:
                    <br />
                    <li>مشخصات و اطلاعات دقیق و صحیح را در سامانه  وارد  نمایم و در طول مدت همکاری رفتاری صادقانه در قبال مشتریان و شرکت داشته باشم.</li>
                    <li>در نهایت ادب و احترام به مشتریان، رعایت شئونات انسانی و اسلامی را بنمایم. امانتدار و امین  خوبی در محیط کار برای مشتریان باشم.</li>
                    <li> تمام توان و تخصص خود را در انجام صحیح خدمت به کار گیرم و امور واگذار شده را بدون نقص و عیب انجام دهم  و در صورت قصور یا تقصیر ، نقایص و ضرر وارده را جبران نمایم و نظر کارشناسی شرکت را در این خصوص بپذیرم و برای جبران ، اقداماتی را که شرکت مشخص می نماید اجرا نمایم.</li>
                    <li> رفتار و گفتاری صادقانه در قبال شرکت داشته باشم و آنچه را که انجام می دهم یا مبالغی را که دریافت می کنم صحیح و درست مطابق روش هایی که شرکت اعلام می کند ثبت و گزارش نمایم و در صورت تخلف ، عواقب آن را مطابق مقررات شرکت بپذیرم.</li>
                    <li> در محل کار موارد ایمنی را رعایت و در صورت نیاز،  تمهیدات و لوازم ایمنی را از مشتری درخواست نمایم و در صورت عدم تامین موارد ایمنی از انجام کار خودداری نمایم. چنانچه برای خدمتی که ارائه می کنم نیاز به دریافت بیمه باشد، قبلا نسبت به انجام آن اقدام کرده باشم و چنانچه بیمه وظیفه مشتری باشد، آن را مطالبه نمایم. لذا هر گونه اتفاق و خسارت ایجاد شده به خود یا مشتری را متوجه شرکت نمی دانم و خودم را نسبت به آن مسئول و پاسخگو می دانم.</li>
                    <li> در صورتی که خدمت ، نیاز به لوازم یا قطعاتی داشته باشد آن را از نوع و قیمت مناسب و منطقی تهیه نمایم و در صورت نیاز گزینه های لازم را برای مشتری صادقانه تشریح نمایم و آنچه را که انتخاب می نماید استفاده نمایم. چنانچه کیفیت لوازم انتخابی توسط مشتری، مورد تایید اینجانب نباشد.مکتوبی را با متن زیراز مشتری دریافت نمایم؛ که مسئولیت بروز مشکلات احتمالی ناشی از بی کیفیت بودن مصالح  را بپذیرد. در این موارد مشورت با کارشناسان شرکت ضروری است.در صورت عدم رعایت موضوعات ، مسائل پیش آمده را عهده دار می شوم.</li>
                    <li>از آنجا که با شرکت همکاری تمام وقت ندارم و شرکت صرفا در قبال واگذاری خدمت و نظارت، بخشی از حق الزحمه را دریافت می کند، ادعایی در هیچ مورد منجمله، قطع همکاری، بیمه و ... ندارم.</li>
                    <li> خدمت واگذار شده را شخصا انجام دهم و تمام یا بخشی از آن را به فرد یا اشخاص دیگر واگذار نکنم.</li>
                    <li>ابزار کار سالم ، صحیح و ایمن داشته و بهره وری مناسب از آن داشته باشم.</li>
                    <li>  کلیه دستورالعمل های شرکت را به درستی و دقت انجام دهم.</li>
                </ul>
        </div>
    </div>
</div>