@{
    ViewBag.Title = "تشریح مراحل ثبت نام و روند کار";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<div style="padding:20px 0px">
    <div class="container">
        <div class="row">
            <h4 class="col-lg-12"> مراحل ثبت نام خدمتیار و روند کار </h4>
            @*<ul style="list-style:decimal">
                <li>تهیه مدارک موردنیاز و تهیه فایل آن ها با حجم کم</li>
                <li>زدن کلید ثبت نام خدمت دهندگان</li>
                <li>
                    ورود به صفحه انتخاب محل خدمت و نوع خدمت و اطمینان از خالی بودن ظرفیت خدمت در شهر و محل سکونت خدمتیار
                    در این مرحله خدمتیار ابتدا خدمتی را که در ان تخصص دارد انتخاب می کند و سپس شهر و محله ای را که می تواند در آن خدمات را انجام دهد انتخاب می کند و با ثبت خلاصه ای از مشخصات یک پیام به خدمتیار ارائه می شود . این پیام سه حالت دارد.
                    <ul class="romanLi">
                        <li>ظرفیت خالی برای این خدمت محل وجود دارد .</li>
                        <li>ظرفیت این خدمت محل پر شده است اما شما می توانید به عنوان رزرو ثبت نام نمایید.</li>
                        <li>ظرفیت اصلی و رزرو برای این خدمت محل تکمیل است در صورت تمایل می توانید اطلاعات خودرا ثبت نمایید و منتظر پیام شرکت باشید.</li>
                    </ul>
                </li>
                <li>
                    در صورتی که ظرفیت اصلی و یا رزرو خالی باشد و اطلاعات شما در سامانه ثبت شود باید نسبت به پرداخت هزینه ثبت نام اقدام نمایید. مبلغ ثبت نام به دلایل زیر اخذ می گردد.
                    <ul class="romanLi">
                        <li>
                            صرفا افرادی که قصد انجام خدمت را دارند وارد شوند و از ورود افرادی که توانایی و تخصص لازم را ندارند و یا صرفا جهت سرگرمی و .. وارد می شوند جلوگیری شود.
                        </li>
                        <li>
                            مبلغ 2000 تومان از هزینه ثبت نام جهت جهت بررسی مدارک اخذ می گردد. در صورتی که پس از بررسی مدارک ، با پاسخ منفی شرکت مواجه شوید مابقی مبلغ به شما مسترد می گردد.
                        </li>
                        <li>
                            در صورت پذیرش شما تا قبل از ارجاع اولین کار ، در صورت انصراف مابقی مبلغ مسترد می گردد ، اما پس از ارجاع اولین کار، حتی اگر شما آن کار را نپذیرید مبلغی برگشت نخواهد شد.
                        </li>
                        <li>
                            مبالغ دریافت شده از خدمت دهندگان صرف هزینه های تبلیغات و احتمالا صدور کارت خواهد شد.
                        </li>
                    </ul>
                </li>
                <li>  پس از پرداخت هزینه ثبت نام (صرفا الکترونیکی) نام کاربری و رمز عبور از طریق سامانه و با پیامک برای شما ارسال میشود و به صفحه تکمیل اطلاعات وارد خواهید شد. در این صفحه تمامی اطلاعات را بایستی تکمیل نمایید. شما می توانید در اینجا ، خدمات دیگر و یا محله های دیگر را به لیست اضافه نمایید ، خدمات را با اولویت تخصص و محله ها را با اولویت نزدیکی به محل سکونت انتخاب نمایید. </li>
                <li> پس از تکمیل ثبت نام مدارک ارسالی شما بررسی خواهد شد و نتیجه آن اعلام می گردد. در صورت عدم پذیرش الباقی مبلغ ثبت نام به شماره کارتی که در مرحله قبل ثبت نموده اید واریز می شود و در صورت پذیرش جهت انجام مصاحبه و ارائه اصل مدارک از شما دعوت به عمل خواهد آمد. </li>
            </ul>*@
            <div class="step-pane active" >
                <div>
                    باعث افتخار است که به عنوان خدمتیار وارد این سامانه شده اید. خرسند خواهیم شد، اگر شرایط شما و مقررات شرکت موجبات همکاری را فراهم نماید. مطالعه این متن کمک خواهد کرد که ضمن اطلاع از شرایط ثبت نام، با برخی از مقررات و نیز امکانات و نحوه استفاده این سامانه آشنا شوید.
                </div>
                <div>
                    ابتدائی ترین شرط پذیرش، داشتن تخصص وتوانایی انجام خدمات است. دارا بودن صلاحیت های فردی و اخلاقی ضروری است.
                </div>
                <div>
                    چنانچه خدمتی که ارائه می نمایید در لیست خدمات وجود ندارد، با شرکت تماس بگیرید و اعلام نمایید.
                </div>
                <div>
                    می توانید به عنوان شخص حقیقی و یا در قالب شرکت همکار ما شوید. قابل توجه که برخی از خدمات صرفا به شرکت های صاحب صلاحیت و مجوز واگذار می شود و اشخاص حقیقی یا شرکت های بدون جواز نمیتوانند ثبت نام کنند.
                </div>
                <div>
                    عنایت فرمایید که باید ابتدا در این سامانه و با شرحی که در زیر آمده است ثبت نام نمایید و فایل مدارک را بارگذاری نمایید. پس از بررسی و در صورت پذیرش اولیه،  به مصاحبه دعوت خواهید شد. اصل مدارک در زمان مصاحبه لازم است.
                </div>
                <div style="font-weight:bold;">
                    مراحل ثبت نام
                </div>
                <ul style="list-style:decimal">
                    <li>گزینه ثبت نام خدمتیار را از صفحه اول سامانه انتخاب نمایید.</li>
                    <li>تشریح مراحل و روند کار را مطالعه نموده و روی " مرحله 2" کلیک نمایید.</li>
                    <li>تعهد نامه را به دقت مطالعه فرمایید و در صورت پذیرش تعهدات و مقررات، گزینه " تمامی شرایط و ضوابط شرکت را مطالعه نمده و موافقت می نمایم" را تیک بزنید و " مرحله 3" را انتخاب نمایید.</li>
                    <li>
                        در این صفحه اطلاعات اولیه شما دریافت می شود. اطلاعات شخصی را به دقت وارد و جنسیت را به درستی انتخاب کنید. توجه فرمایید که اگر به عنوان شخص حقیقی ثبت نام می نمایید در " نحوه انتخاب خدمت" گزینه <span>شخصی</span> و اگر در قالب شرکت ثبت نام می کنید گزینه <span>شرکتی</span> را انتخاب کنید. در صورت انتخاب گزینه شرکتی نام شرکت و شماره ثبت را وارد نمایید.
                        <div>سپس استان، شهر و محدوده (در شهرهای بزرگ) را که می توانید خدمت ارائه کنید را انتخاب و نهایتا از لیست خدمات که به صورت درختی ارائه شده است، خدمتی را  که مسلط هستید انتخاب نمایید.  لطفا به نکات زیر توجه فرمایید.</div>
                        <ul class="romanLi">
                            <li>	ظرفیت باقیمانده و ظرفیت رزو در جلوی هر خدمت ثبت شده است. در صورتیکه خدمت مورد نظر ظرفیت داشته باشد، در گروهی قرار می گیرید که مدارک شما بررسی و نتیجه آن اعلام می شود. در صورتیکه ظرفیت تکمیل باشد  می توانید در لیست رزرو ها ثبت نام کنید و بلافاصله پس از خالی شدن و یا افزایش ظرفیت، جایگزین خواهید شد.</li>
                            <li>	در این صفحه شما فقط یک خدمت و یک محدوده را می توانید انتخاب کنید. اما پس از ثبت نام اولیه و ورود به پنل کاربری خود می توانید خدمات یا محدوده های دیگر را اضافه نمایید.</li>
                            <li>	اگر خدمت انتخابی، شرکتی باشد و شما شخص باشید یا بالعکس، پیغام خطا ظاهر می شود و خدمت انتخابی شما، ثبت نخواهد شد.</li>
                        </ul>
                        <div>پس از تکمیل روی مرحله 4 کلیک نمایید.</div>
                    </li>
                    <li>	
                    @*در این مرحله باید هزینه ثبت نام را بصورت آنلاین پرداخت نمایید.هزینه ثبت نام برای خدمات مختلف متفاوت و حد اکثر آن 10000 تومان است. علت اصلی دریافت این هزینه، جلوگیری از ثبت نام افرادی است که تخصص و توانایی کافی ندارند و صرفا جهت تفریح یا اختلال و بدون عزم جدی، وارد سامانه می شوند. توجه فرمایید در صورتیکه پذیرفته نشوید یا قبل از اولین ارجاع کار بخواهید قطع همکاری کنید، هزینه ثبت نام مسترد می شود. در پنل کاربری امکان درخواست استرداد هزینه ثبت نام وجود دارد.*@
                        	در این مرحله باید هزینه ثبت نام را بصورت آنلاین پرداخت نمایید.(موقتا این مرحله حذف شده و پرداخت هزینه ثبت نام ضروری نیست) هزینه ثبت نام برای خدمات مختلف متفاوت و حد اکثر آن 10000 تومان است. علت اصلی دریافت این هزینه، جلوگیری از ثبت نام افرادی است که تخصص و توانایی کافی ندارند و صرفا جهت تفریح یا اختلال و بدون عزم جدی، وارد سامانه می شوند. توجه فرمایید در صورتیکه پذیرفته نشوید یا قبل از اولین ارجاع کار بخواهید قطع همکاری کنید، هزینه ثبت نام مسترد می شود. در پنل کاربری امکان درخواست استرداد هزینه ثبت نام وجود دارد.
                    </li>
                    <li>
                        پس از پرداخت، نام کاربری و رمز عبور به شماره موبایل شما ارسال می شود. با درج نام کاربری و و رمز به پنل کاربری خود وارد  می شوید. در این پنل ابتدا  باید ثبت نام خود را تکمیل کنید. برای این منظور در گزینه های سمت راست، "اطلاعات کاربر" و سپس " اطلاعات تکمیلی خدمتیار " را انتخاب کنید.
                        <div>
                            در اینجا می توانید محدوده و یا خدمات دیگری را به لیست خود اضافه نمایید. سایر موارد را به دقت تکمیل نمایید. در جدول رزومه خلاصه ای جامع و کامل از سوابق کاری خود( حداکثر 2 خط) درج نمایید. <span>توجه داشته باشید که رزومه شما برای مشتریان نمایش داده می شود</span>.
                        </div>
                        <div>
                            فایل مدارک شامل، عکس پرسنلی، کارت ملی، شناسنامه (کارت ملی و شناسنامه را در یک برگ اسکن کنید)، مدارک تحصیلی و فنی و مجوزها را تهیه و در جای خود بارگذاری نمایید. هر مدارک دیگری که نشان دهنده رزومه شما باشد را می توانید بارگذاری کنید. <span>توجه فرمایید که عکس پرسنلی شما برای مشتریان نمایش داده می شود</span>.
                        </div>
                        <div>
                            گزینه "استرداد هزینه" را در هر زمان که تمایل به استرداد هزینه ثبت نام ( قبل از ارجاع اولین کار) می توانید انتخاب کنید و شماره کارت بانکی را جهت برگشت هزینه وارد نمایید.
                        </div>
                        <div>
                            پس از تکمیل اطلاعات، گزینه ثبت را برنید. <span>عنایت داشته باشید که که فقط و فقط در صورت تکمیل اطلاعات و مدارک، پذیرش شما بررسی خواهد شد</span>.
                        </div>
                    </li>
                </ul>
                <div style="font-weight:bold;">لطفا به موارد زیر توجه فرمایید.</div>
                <ul style="list-style:decimal">
                    <li>	تبادل اطلاعات بین شرکت و شما از طریق پیامک خواهد بود. لذا داشتن تلفن همراه ضروری و همیشه باید همراه و آماده به کار باشد. آموزش لازم پس از پذیرش ارائه خواهد شد.</li>
                    <li>	در پنل کاربری شما امکاناتی منظور شده است. ازجمله آنها ارسال خدمت به پنل، امکان رد یا قبول انجام خدمت ، ثبت اطلاعات ورود و خروج و مبالغ دریافتی و  مبادلات مالی است،  آموزش لازم در این خصوص داده خواهد شد.</li>
                    <li>	کلیه مبادلات مالی با شرکت از طریق این سامانه و به صورت الکترونیکی خواهد بود، لذا داشتن کارت معتبر بانکی ضروری است.</li>
                    <li>	پس از پذیرش نهایی، شرکت در دوره های آموزشی شرکت الزامی است.</li>
                    <li>	از آنجا که ماندگاری شرکت، انجام خدمات با کیفیت عالی و قیمت مناسب است، لذا هدف شرکت، جلب اعتماد مردم خواهد بود و مقررات هم بر این اساس وضع می شود. بخشی از مقررات در تعهد نامه ارائه شده است.</li>
                </ul>
            </div>
        </div>
    </div>
</div>


