@{
ViewBag.Title = "قوانین و مقررات";
Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<style>
    .rules_category {
        font-size: 15px;
        font-weight: bold;
        padding: 4px;
    }

    .rules_header {
        margin-right: 32px;
        list-style-type: square;
        font-size: 14px;
        font-weight: bold;
        padding: 4px;
    }
</style>

<div id="ListServices">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2 class="NewClassHeading" style="color:#463c3c !important;text-shadow:#fff .5px .5px .5px;">قوانین و
                    مقررات</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1" style="font-size: 14px;color: #3f3f3f;">

                <ul style="font-size: 18px;color: #202020;">
                    <li class="rules_category">
                        قوانین خدمتیاران
                    </li>
                    <li class="rules_header"><a href="#sharayet"> شرایط خدمتیاران</a></li>
                    <li class="rules_header"><a href="#madarek"> مدارک مورد نیاز</a></li>
                    <li class="rules_header"><a href="#marahel"> مراحل ثبت نام</a></li>
                    <li class="rules_header"><a href="#taahod"> تعهدات خدمتیار</a></li>
                    
                    <li class="rules_category"><a href="#moshtarian">
                        قوانین مشتریان
                    </a></li>
                </ul>

                <div class="row animate-box text-center" style="font-size: 14px;
    color: #3f3f3f;
    margin-top: 32px;
    text-align: justify;">

                    <b id="sharayet">شرایط خدمتیاران</b>
                    <p style="">
                        خدمتیاران به مجموعه ای از افراد حقیقی، یا حقوقی صاحب تخصص و صلاحیت اطلاق می شود که توانایی و
                        تجربه
                        کافی جهت انجام خدمات، با کیفیت مطلوب را دارا باشند. بدیهی است، صلاحیت های شخصی و اخلاقی، شرط
                        اولیه
                        عضویت در این شرکت است .لذا ضروری است، متقاضیان محترم، مستندات تخصص و تجربه خود را ارائه و در
                        خدمات
                        نیازمند مجوز، جواز مربوط را عرضه کنند. پس از انجام مراحل، شامل ثبت مشخصات، بارگذاری مدارک،
                        مصاحبه و
                        نهایتا تایید، متقاضی، خدمتیار سی پارس محسوب و مشخصات وی در سامانه ظاهر خواهد شد.

                    </p>
                    <b id="madarek">مدارک مورد نیاز</b>
                    <p style="">
                        مدارک مورد نیاز شامل موارد زیر است:
                        عکس پرسنلی- کارت ملی- شناسنامه- مستندات تخصصی شامل، مدارک تحصیلی، مدارک فنی و حرفه ای، تجارب
                        کاری و
                        مجوز ها (در صورت نیاز) .
                        متقاضی پس از ثبت نام اولیه و دریافت کد کاربری و رمز عبور، لازم است فایل مدارک فوق را در پنل خود
                        بارگذاری کند و اصل آنها در زمان مصاحبه به همراه داشته باشد. توجه داشته باشید که حجم هر فایل
                        حداکثر
                        200 کیلو بایت باشد.
                        از آنجا که ارتباط شرکت با خدمت دهندگان، عمدتا از طریق پیامک و در بستر اینترنت خواهد بود، داشتن
                        تلفن
                        همراه هوشمند الزامی است.
                    </p>


                    <b id="marahel">مراحل ثبت نام</b>
                    <p style="white-space: pre;">
                        برای ثبت نامه در سامانه سی پارس مراحل زیر را انجام دهید:
                        1. گزینه ثبت نام خدمت دهنده را از صفحه اول سامانه انتخاب نمایید.
                        2. تشریح مراحل و روند کار را مطالعه نموده و روی " مرحله 2" کلیک نمایید.
                        3. تعهد نامه را به دقت مطالعه فرمایید و در صورت پذیرش تعهدات و مقررات، گزینه " تمامی شرایط و ضوابط
                        شرکت را مطالعه نموده و موافقت می نمایم" را تیک بزنید و " مرحله 3" را انتخاب نمایید.
                        4. در این صفحه اطلاعات اولیه شما دریافت می شود. اطلاعات شخصی را به دقت وارد و جنسیت را به درستی
                        انتخاب کنید. توجه فرمایید که اگر به عنوان شخص حقیقی ثبت نام می نمایید در " نحوه انتخاب خدمت" گزینه
                        شخصی و اگر در قالب شرکت ثبت نام می کنید گزینه شرکتی را انتخاب کنید. در صورت انتخاب گزینه شرکتی نام
                        شرکت و شماره ثبت را وارد نمایید.
                        سپس استان، شهر و محدوده (در شهرهای بزرگ) را که می توانید خدمت ارائه کنید را انتخاب و نهایتا از لیست
                        خدمات که به صورت درختی ارائه شده است، خدمتی را که مسلط هستید انتخاب نمایید.
                        به نکات زیر توجه فرمایید.


                        &#10003 ظرفیت باقیمانده و ظرفیت رزو در جلوی هر خدمت ثبت شده است. در صورتیکه خدمت مورد نظر ظرفیت داشته
                        باشد، در گروهی قرار می گیرید که مدارک شما بررسی و نتیجه آن اعلام می شود. در صورتیکه ظرفیت تکمیل باشد
                        می توانید در لیست رزرو ها ثبت نام کنید و بلافاصله پس از خالی شدن و یا افزایش ظرفیت، جایگزین خواهید شد.
                        &#10003 در این صفحه شما فقط یک خدمت و یک محدوده را می توانید انتخاب کنید. اما پس از ثبت نام اولیه و ورود
                        به پنل کاربری خود می توانید خدمات یا محدوده های دیگر را اضافه نمایید.
                        &#10003 اگر خدمت انتخابی، شرکتی باشد و شما شخص باشید یا بالعکس، پیغام خطا ظاهر می شود و خدمت انتخابی شما،
                        ثبت نخواهد شد.
                        پس از تکمیل روی مرحله 4 کلیک نمایید.
                        5. در این مرحله باید هزینه ثبت نام را بصورت آنلاین پرداخت نمایید.(موقتا این مرحله حذف شده و پرداخت
                        هزینه ثبت نام ضروری نیست)
                        6. پس از ثبت نام اولیه، نام کاربری و رمز عبور به شماره موبایل شما ارسال می شود. با درج نام کاربری و
                        و رمز به پنل کاربری خود وارد می شوید. در این پنل ابتدا باید ثبت نام خود را تکمیل کنید. برای این
                        منظور در گزینه های سمت راست، "اطلاعات کاربر" و سپس " اطلاعات تکمیلی خدمت دهنده " را انتخاب کنید.
                        در اینجا می توانید محدوده و یا خدمات دیگری را به لیست خود اضافه نمایید. سایر موارد را به دقت تکمیل
                        نمایید. در جدول رزومه خلاصه ای جامع و کامل از سوابق کاری خود( حداکثر 2 خط) درج نمایید. توجه داشته
                        باشید که رزومه شما برای مشتریان نمایش داده می شود.
                        فایل مدارک شامل، عکس پرسنلی، کارت ملی، شناسنامه (کارت ملی و شناسنامه را در یک برگ اسکن کنید)، مدارک
                        تحصیلی و فنی و مجوزها را تهیه و در جای خود بارگذاری نمایید. هر مدارک دیگری که نشان دهنده رزومه شما
                        باشد را می توانید بارگذاری کنید. توجه فرمایید که عکس پرسنلی شما برای مشتریان نمایش داده می شود.
                        پس از تکمیل اطلاعات، گزینه ثبت را برنید. عنایت داشته باشید که فقط و فقط در صورت تکمیل اطلاعات و
                        مدارک، پذیرش شما بررسی خواهد شد.
                        به موارد زیر توجه فرمایید:
                        1. تبادل اطلاعات بین شرکت و خدمتیاران از طریق پیامک و اینترنتی خواهد بود. لذا داشتن تلفن همراه
                        هوشمند ضروری و همیشه باید همراه و آماده به کار باشد. آموزش لازم پس از پذیرش ارائه خواهد شد.
                        2. در پنل کاربری شما امکاناتی منظور شده است. از جمله آنها ارسال خدمت به پنل، امکان رد یا قبول انجام
                        خدمت ، ثبت اطلاعات ورود و خروج و مبالغ دریافتی و مبادلات مالی است، آموزش لازم در این خصوص داده خواهد شد.
                        3. کلیه مبادلات مالی با شرکت از طریق این سامانه و به صورت الکترونیکی خواهد بود، لذا داشتن کارت معتبر بانکی ضروری است.
                        4. پس از پذیرش نهایی، شرکت در دوره های آموزشی شرکت الزامی است.
                        5. سی پارس متعهد به تلاش، برای ارائه‌ خدمات با کیفیت است و می کوشد تا با به‌روزرسانی سیستم متناسب با
                        نیاز خدمتیاران،کیفیت و نوع خدمات ارائه ‌شده را ارتقا بخشد.
                        6. از آنجا که ماندگاری شرکت، انجام خدمات با کیفیت عالی و قیمت مناسب است، لذا هدف شرکت، جلب اعتماد
                        مردم خواهد بود و مقررات هم بر این اساس وضع می شود. بخشی از مقررات در تعهد نامه ارائه شده است.
                    </p>

                    <b id="taahod">تعهدات خدمتیار</b>
                    <p style="white-space: pre;">
                        خدمتیار به عنوان شخص حقیقی و یا نماینده مجموعه حقوقی، با مشخصات ثبت شده در سامانه شرکت سی پارس متعهد
                        است، ضمن به کارگیری حداکثر توان و تخصص خود، سعی و تلاش نماید تا خدمات واگذار شده به خود را به نحو
                        احسن انجام دهد و رضایت مشتریان شرکت را جلب نماید ، لذا ضرورت دارد به موارد زیر توجه و خود را به آن
                        متعهد بداند. لازم به توضیح است که در این تعهد نامه منظور از شرکت، شرکت سی پارس و منظور از مشتریان،
                        متقاضیان خدمات که ازطرف شرکت به خدمتیار معرفی می شود، می باشد.
                        خدمتیار متعهد است:
                        1. مشخصات و اطلاعات دقیق و صحیح را در سامانه وارد نماید و در طول مدت همکاری رفتاری صادقانه در قبال
                        مشتریان و شرکت داشته باشد.
                        2. در نهایت ادب و احترام به مشتریان، رعایت شئونات انسانی و اسلامی را نماید. امانتدار و امین خوبی در
                        محیط کار برای مشتریان باشد.
                        3. تمام توان و تخصص خود را در انجام صحیح خدمت به کار گیرد و امور واگذار شده را بدون نقص و عیب انجام
                        دهد و در صورت قصور یا تقصیر ، نقایص و ضرر وارده را جبران نماید و نظر کارشناسی شرکت را در این خصوص
                        بپذیرد و برای جبران، اقداماتی را که شرکت مشخص می نماید اجرا نماید.
                        4. رفتار و گفتاری صادقانه در قبال شرکت داشته باشد و آنچه را که انجام می دهد یا مبالغی را که دریافت
                        می کند صحیح و درست مطابق روش هایی که شرکت اعلام می کند ثبت و گزارش نماید و در صورت تخلف، عواقب آن را
                        مطابق مقررات شرکت بپذیرد.
                        5. در محل کار موارد ایمنی را رعایت و در صورت نیاز، تمهیدات و لوازم ایمنی را از مشتری درخواست نماید و
                        در صورت عدم تامین موارد ایمنی از انجام کار خودداری نماید. چنانچه برای خدمتی که ارائه می کند نیاز به
                        دریافت بیمه باشد، قبلا نسبت به انجام آن اقدام کرده باشد و چنانچه بیمه وظیفه مشتری باشد، آن را مطالبه
                        نماید. لذا هر گونه اتفاق و خسارت ایجاد شده به خود یا مشتری را متوجه شرکت نمی داند و خود را نسبت به
                        آن مسئول و پاسخگو می داند.
                        6. در صورتی که خدمت، نیاز به لوازم یا قطعاتی داشته باشد، آن را از نوع و قیمت مناسب و منطقی تهیه
                        نماید و در صورت نیاز گزینه های لازم را برای مشتری صادقانه تشریح نماید و آنچه را که انتخاب می نماید
                        استفاده کند. چنانچه کیفیت لوازم انتخابی توسط مشتری، مورد تایید خدمتیار نباشد. موضوع را کتبا به اطلاع
                        مشری برساند. در این موارد مشورت با کارشناسان شرکت ضروری است. در صورت عدم رعایت موضوعات ، مسائل پیش
                        آمده به عهده خدمتیار خواهد بود.
                        7. از آنجا که خدمتیار با شرکت همکاری تمام وقت ندارد و شرکت صرفاً در قبال واگذاری خدمت و نظارت، بخشی
                        از حق الزحمه را دریافت می کند، ادعایی در هیچ مورد منجمله، قطع همکاری، بیمه و ... ندارد.
                        8. خدمت واگذار شده را شخصاً انجام دهد و تمام یا بخشی از آن را به فرد یا اشخاص دیگر واگذار نکند.
                        9. ابزار کار سالم، صحیح و ایمن داشته و بهره وری مناسب از آن داشته باشد.
                        10. صرفا به آدرس ثبت شده در سامانه مراجعه گردد. چنانچه مشتری در مکانی غیر از آدرس ثبت شده درخواست
                        خدمتی داشته باشد حتما موضوع به شرکت اعلام شود.
                        11. کلیه دستورالعمل های شرکت را به درستی و دقت انجام دهد.
                        12. مقید به اجرای مقررات، قوانین جمهوری اسلامی و احکام شرعی باشد.

                        توجه داشته باشید که:
                        خدمتیار در پذیرش درخواست انجام خدمات یا رد آن مختار است و اگر پس از ارسال درخواست خدمت و پذیرش، خدمت
                        را لغو کند یا در مکان و زمان مشخص حضور پیدا نکند با توجه به عدم رعایت مقررات مربوط که منجر به عدم
                        حفظ شهرت کاری و اعتبار سی پارس می شود، از امتیاز منفی برای خدمتیار منظور و سوابق وی لحاظ می گردد و
                        در صورت تکرار بیش از حد، این شرکت حق قطع همکاری با وی را دارد.
                    </p>

                    <b id="moshtarian">قوانین مشتریان</b>
                    <p style="white-space: pre;">
                        هدف از تاسیس شرکت و راه اندازی سامانه هوشمند سی پارس، دسترسی آسان مشتریان به خدمات مورد نیاز و ارائه
                        با کیفیت مطلوب همراه با نظارت و پاسخگویی فراگیر می باشد. بدین منظور جمعی گسترده از خدمتیاران متخصص و
                        مجرب با انجام مصاحبه و بررسی سوابق و دانش آنها، گزینش شده اند و با نظرخواهی مستمر و کیفی از مشتریان
                        محترم و نظارت دقیق، عملکرد آنها آزموده و پالایش و رتبه بندی می شوند. لذا ما تنها یک سامانه جهت معرفی
                        خدمتیار نیستیم بلکه یک شرکت ارائه خدمات با شعار "دسترسی آسان، کیفیت مطلوب و نظارت فراگیر "هستیم.
                        مقررات مرتبط با مشتریان محترم به شرح زیر است و هرگونه استفاده از سی پارس به معنی پذیرفتن شرایط مندرج در این متن است.
                        1- تلاش سی پارس، معرفی خدمتیاران مجرب و متعهد است. همه افرادی که در سی پارس به عنوان خدمتیار مشغول
                        هستند مصاحبه حضوری شده اند و صلاحیت های فردی و تخصص آنها در ارائه خدمات بررسی شده است. لذا با تبعیت
                        از مقررات سی پارس می توانید از خدمات مطمئن بهره مند شوید.
                        2- برای استفاده از خدمات سی پارس لازم است، نام، نام خانوادگی، آدرس دقیق محل دریافت خدمت و شماره
                        همراه به درستی وارد شود. پس از دریافت اولین خدمت، حساب کاربری برای مشتری ایجاد می شود که می تواند از
                        این صفحه، خدمات را مدیریت نماید و یا خدمت جدید دریافت کند. لذا مشتری می‌پذیرد که اطلاعات خواسته شده
                        را به صورت صحیح و به‌ روز در سی پارس وارد نماید.
                        3- سی پارس مسئولیت کامل کیفیت انجام کار را به عهده دارد و در صورتیکه شکایتی از طرف مشتریان مطرح شود
                        بلافاصله آنرا پیگیری می نماید و چنانچه کیفیت خدمت پایین باشد تمام یا بخشی از هزینه پرداخت شده را
                        مسترد می نماید و چنانچه خسارتی به مشتری وارد شده باشد آن را جبران می کند. در این خصوص نظر کارشناس
                        شرکت ملاک عمل خواهد بود.
                        4- مشتری متعهد است صرفا خدماتی را که درخواست کرده و یا از سامانه انتخاب نموده و ثبت شده است را
                        مطالبه نماید و هرگونه تقاضای نامتعارف، خلاف قانون یا عرف جامعه پذیرفته نیست و خدمتیاران به هیچ عنوان
                        مجاز به انجام نیستند و اینگونه درخواست ها، ممکن است به پگیری قضایی منجر شود.
                        5- در خدماتی که نیاز به بیمه دارد، مشتری باید قبل از شروع کار، در این خصوص اقدام نماید. در صورت عدم
                        اقدام مسئولیت هر حادثه ای به عهده مشتری خواهد بود. ایجاد ایمنی کافی برای خدمات الزامی است.
                        6- در خدماتی که نیاز به لوازم یا قطعات دارد، خدمتیار موظف شده است بهترین گزینه ها را از نظر کیفیت و
                        قیمت برای مشتری صادقانه تشریح نماید و آنچه را که مشتری انتخاب می کند، استفاده نماید. چنانچه کیفیت
                        لوازم انتخابی توسط مشتری، مورد تایید خدمتیار نباشد، مسئولیت مسائل پیش آمده ناشی از انتخاب قطعات
                        نامناسب به عهده مشتری خواهد بود. در این خصوص نظر کارشناس شرکت ملاک عمل خواهد بود.
                        7- هر سفارش خدمتی، تمدید، افزایش یا کاهش آن، تغییر زمان و تغییر نوع، باید از طریق شرکت و با ثبت در
                        سامانه سی پارس انجام شود. سی پارس هیچ مسئولیتی در قبال خدماتی که خارج از فرایند تعریف شده شرکت
                        درخواست شده و یا بی ارتباط با خدمات سی پارس است، ندارد. کلیه اقدامات لازم، از جمله، تقاضای دوباره
                        همان خدمت، یا درخواست همان خدمتیار، از صفحه اختصاصی مشتری قابل انجام است.
                        8- افراد حقیقی یا حقوقی که برای ارائه خدمت معرفی می شوند، شخصاً باید نسبت به انجام کار اقدام نمایند
                        و حق واگذاری انجام خدمت به شخص دیگری را ندارند. لذا مشتریان محترم جز شخص معرفی شده، شخص دیگری را
                        نپذیرند و اگر لازم دیدند مدارک شناسایی خدمتیار را طلب نمایند و در صورت تخلف مراتب را به شرکت اطلاع دهند.
                        9- پرداخت هزینه خدمات، برابر آنچه در سامانه اعلام شده، به شرکت یا خدمتیار بلامانع است؛ مگر اینکه
                        قبلا شیوه ای دیگر از سوی شرکت اعلام شده باشد. در مواردی که نیاز به بازدید اولیه داشته و با خدمتیار
                        توافق می شود، هزینه را مطابق توافق پرداخت نمایید.
                        10- درصورت پرداخت آنلاین توسط مشتری، مبلغ پرداخت شده نزد سی پارس به امانت خواهد ماند. زمانی که شما
                        رضایت خود را اعلام کنید به خدمتیار پرداخت خواهد شد.
                        11- با اطلاع رسانی سطح رضایت خود از خدمات ارائه شده، به ما در ارزیابی عملکرد خدمتیاران کمک کرده تا
                        بتوانیم همواره بهترین خدمات را ارائه کنیم. در پنل اختصاصی مشتریان، امکان ثبت نظر در خصوص عملکرد
                        خدمتیار و ثبت امتیاز وجود دارد. همچنین زمان حضور خدمتیار و مبالغ پرداختی، نمایش داده می شود و تایید
                        آن توسط مشتریان، سبب بهبود عملکرد مجموعه خواهد شد.
                        12- مشتریان حق دادن اطلاعات و یا انتقال حساب کاربری خود به اشخاص حقیقی و حقوقی دیگر را ندارد در غیر
                        اینصورت مسئولیت و عواقب آن به عهده کاربر خواهد بود.
                        13- پرداخت هزینه بیشتر از آنچه اعلام شده است، من جمله هزینه ایاب و ذهاب یا ارائه وعده های غذایی
                        (ناهار و شام) از سوی مشتری به خدمتیار اجباری نیست و مشتریان بر اساس منش خود در این خصوص مختار می
                        باشند. مگر اینکه جزء تعهدات مشتری باشد.
                        14- خدمتیار مجاز به حضور در مکانی که آدرس آن در سامانه ثبت شده، می باشد. و در مکان دیگر اجازه حضور
                        ندارد. لذا در صورتیکه آدرس، تغییر یافته است، آن را در سامانه ثبت و یا به شرکت اعلام کنید.
                        15- قوانین جمهوری اسلامی ایران بر تعبیر، تفسیر، اجرا و تأثیر این توافق‌نامه حاکم خواهند بود.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>