
<div class="modal" id="DeleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="True">x</button>
                <h4 class="modal-title">حذف اکشن </h4>
            </div>
            <div class="modal-body">
                آیا مایل به حذف اکشن می باشید؟
            </div>
            <div class="modal-footer">
                <button data-bb-handler="confirm" type="button" class="btn btn-danger" ng-click="DeleteGroup()">تایید</button>
                <button data-bb-handler="cancel" type="button" class="btn btn-default" ng-click="Cancel()">انصراف</button>
            </div>
        </div>
    </div>
</div>


