
@{
    ViewBag.Title = " تغییر رمز عبور";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@model PrivateTraining.Models.ChangePasswordsViewModel


<form name="RegisterFrom" ng-submit="register(RegisterFrom.$valid)" novalidate>
    <div class="widget-body">
        <div style="padding-top: 30px; padding-bottom: 0px" class="panel-body" id="divBefoeRegister">

            <div class="row PaddingBottom">
                <div class="col-lg-2 text-left">
                    @Html.LabelFor(c => c.OldPassword)
                </div>
                <div class="col-lg-4">
                    <div ng-class="{ 'has-error' : RegisterFrom.OldPassword.$invalid && submitted }">
                        <input type="password" ng-model="Register.OldPassword" name="OldPassword" class="form-control" required>
                        <p ng-show="RegisterFrom.OldPassword.$invalid && submitted" class="help-block">لطفا کلمه عبور جاری را وارد نمایید</p>
                    </div>
                </div>
                <span class="ColorOfStar">*</span>
            </div>

            <div class="row PaddingBottom">
                <div class="col-lg-2 text-left">
                    @Html.LabelFor(c => c.NewPassword)
                </div>
                <div class="col-lg-4">
                    <div ng-class="{ 'has-error' : RegisterFrom.NewPassword.$invalid && submitted }">
                        <input type="password" ng-model="Register.NewPassword" name="NewPassword" class="form-control" required>
                        <p ng-show="RegisterFrom.NewPassword.$invalid && submitted" class="help-block">لطفا کلمه عبور جدید را وارد نمایید</p>
                    </div>
                </div>
                <span class="ColorOfStar">*</span>
            </div>

            <div class="row PaddingBottom">
                <div class="col-lg-2 text-left">
                    @Html.LabelFor(c => c.ConfirmPassword)
                </div>
                <div class="col-lg-4">
                    <div ng-class="{ 'has-error' : RegisterFrom.ConfirmPassword.$invalid && submitted }">
                        <input type="password" ng-model="Register.ConfirmPassword" name="ConfirmPassword" ng-blur="CheckPassword()" class="form-control" required>
                        <p ng-show="RegisterFrom.ConfirmPassword.$invalid && submitted" class="help-block">لطفا تکرار کلمه عبور را وارد نمایید</p>
                    </div>
                </div>
                <span class="ColorOfStar">*</span>
            </div>

            <div class="row PaddingBottom">
                <div class="col-lg-2 text-left">

                </div>
                <div class="col-lg-10 ">
                    <button type="submit" id="btnregister" class="btn btn-success" ng-click="submitted=true">ثبت </button>
                </div>
            </div>


        </div>
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">
        $(".Account-ChangePassword").addClass("active").parents("li").addClass("open");

        angular.module('App').controller('MainCtrl', function ($rootScope, $scope, $http, $window) {

            var Sw = true;
            $scope.Register = {};

            $scope.CheckPassword = function () {
                if ($scope.Register.ConfirmPassword != $scope.Register.NewPassword) {
                    NotifyCustom("تکرار کلمه عبور متفاوت با کلمه عبور است", 'danger');
                    Sw = false;
                }
                else Sw = true;
            }

            $scope.register = function (isValid) {
                //alert("2");

                if (!Sw)
                    NotifyCustom("تکرار کلمه عبور متفاوت با کلمه عبور است", 'danger');
                else {
                    if (isValid) {
                        waitingDialog.show('در حال ثبت اطلاعات لطفا منتظر بمانید...');
                        $http.post('@Url.Action(MVC.Account.ChangePasswords())', $scope.Register).success(function (response) {

                            if (response.Resualt) {
                                NotifyCustom(response.Messages, 'success');

                            }
                            else {
                                NotifyCustom(response.Messages, 'danger');
                            }
                            waitingDialog.hide();
                        });
                    }
                }

            }


        });
    </script>
}
