@{
    ViewBag.Title = "تغییر رمز عبور کاربران  ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="widget-body">
    <a href="@ViewBag.Link "> جهت بازیابی پسورد برای کاربر کلیک نمایید </a>
</div>
