
<div class="modal" id="ReasonCancelModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header  " style="border-bottom: 4px solid #7ec55a">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" ng-click="Cancel()">×</button>
                <h4 class="modal-title">ثبت دلیل انصراف</h4>
            </div>
            <div class="modal-body">
                <br />
                <form name="ReasonCancel" novalidate style="padding:0px 20px;">
                    <input type="hidden" ng-model="TempServiceReceiverServiceLocationId" />
                    <div class="row PaddingBottom">
                        <label class="col-xs-12 ">دلیل انصراف </label>
                        <div class="col-xs-12">
                            <textarea class="form-control" rows="4" ng-model="Reasoncancel" name="Reasoncancel" required></textarea>
                            <div style="color:red" ng-show="ReasonCancel.Reasoncancel.$invalid && ReasonCancel.Reasoncancel.$dirty  ">
                                <div>لطفا دلیل انصراف خود را وارد نمایید</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button data-bb-handler="confirm" type="button" class="btn btn-success shiny" ng-click="ChangeStatus(6,TempServiceReceiverServiceLocationId,ReasonCancel.$valid,Reasoncancel)">ذخیره</button>
                <button data-bb-handler="cancel" type="button" class="btn btn-default" data-dismiss="modal" ng-click="Cancel()">انصراف</button>
            </div>
        </div>
    </div>
</div>

